matplotlib==3.5.*
seaborn==0.11.*
numpy==1.22.*
Pillow==9.1.*
torch==1.13.*
pandas==1.4.*
functorch==0.2.*
thingsvision==2.2.14
tqdm==4.64.0
pytorch_lightning==1.7.*
einops
tueplots
ml_collections
pyflakes
black
git+https://github.com/openai/CLIP.git
